[package]
name = "bxt-rs"
version = "1.0.0"
authors = ["Ivan Molodetskikh <yalterz@gmail.com>"]
edition = "2021"
license = "GPL-3.0-or-later"

[lib]
crate-type = ["cdylib"]

[dependencies]
ash = "0.33.0"
bitflags = "1.3.2"
bxt-macros = { path = "bxt-macros" }
bxt-patterns = { path = "bxt-patterns" }
bxt-strafe = { path = "bxt-strafe" }
byte-slice-cast = "1.0.0"
color-eyre = { version = "0.5.11", default-features = false }
crossbeam-channel = "0.5.1"
git-version = "0.3.5"
glam = "0.20.2"
hltas = { git = "https://github.com/HLTAS/hltas.git", features = ["serde1"] }
ipc-channel = "0.16.0"
libc = "0.2.99"
libloading = "0.7.0"
mlua = { version = "0.7.3", features = ["luajit", "vendored", "serialize"] }
once_cell = "1.8.0"
parking_lot = "0.12.0"
rand = "0.8.4"
serde = { version = "1.0.127", features = ["derive"] }
serde_json = "1.0.66"
tap = "1.0.1"
thiserror = "1.0.26"
tracing = "0.1.34"
tracing-chrome = "0.6.0"
tracing-subscriber = "0.3.11"

[patch.crates-io]
luajit-src = { git = "https://github.com/YaLTeR/luajit-src-rs.git", branch = "build-fixes" }

[target."cfg(windows)".dependencies]
minhook-sys = "0.1.1"

[target."cfg(windows)".dependencies.winapi]
version = "0.3.9"
features = ["libloaderapi", "psapi", "winuser", "synchapi", "handleapi", "processthreadsapi"]

[build-dependencies]
gl_generator = "0.14.0"

[profile.dev.package.bxt-patterns]
opt-level = 3

[profile.dev.package.backtrace]
opt-level = 3

[profile.release]
debug = 1 # For lines in backtraces.
overflow-checks = true # So no hidden unsoundness can sneak in.

[workspace]
members = [".", "bxt-macros", "bxt-patterns", "bxt-strafe"]

[features]
vulkan-debug = []
